<app-navbar></app-navbar>


    

<app-landing></app-landing>

<router-outlet></router-outlet>
  <footer class="footer">
    <div class="container-footer">
      <div class="footer-content">
        <p>&copy; 2025 Daniel Luevano. Todos los derechos reservados.</p>
        <div class="social-icons">
          <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.linkedin.com/in/juan-daniel-luevano-ruiz-a43a7a350/" class="social-icon">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/Danny-Developer2" class="social-icon">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>
  
  
